<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>

  <!-- ************************************************************************************
        Logging support
        To clear a log file, you may delete the file or the contents of the file. The logger will automatically create the file
        if it doesn't exist.
        NOTE: The identity the SOC process is running under MUST HAVE write access to the directory this file is located in.
        Typically, this is the ArcGISSOC account. Check agsusers user group for possible identities.
  -->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <file value=".\\Logs\_log.txt"/>
      <appendToFile value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%exception"/>
      </layout>
    </appender>
    <!--Set the default logging level and add the active appenders -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>

</configuration>